body {
	margin: 0;
	padding:0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

ul, 
ol {
	list-style: none;
}

.button {
	color: white;
	font-weight: 700;

	border: none;
	font-family: inherit;
	text-align: center;
	vertical-align: middle;
}

.main-wrap {
	min-width: 768px;
	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;

	box-shadow: 1px 0 15px 0px grey;

	background: transparent;

	display: flex;
	flex-direction: column;

	padding: 0;
}

.main-header,
.container,
.tips {
	background-color: #ffffff;
}

/*ХЭДЕР:*/

.main-header {
	/*background: blue;*/
	padding: 0;
	}

.header-nav ul {
	display: flex;
	/*background: brown;*/
	flex-direction: row;
	justify-content: space-between;
	min-height: 55px;

	margin: 0 0;
	padding: 0 0;
	position: relative;
}

.header-nav li {
	flex-basis: 20%;
	margin-left: 6%;
}

.header-nav li:nth-child(1),
.header-nav li:nth-child(2) {
	text-align: left;
	padding-top: 17px;
}

.header-nav li:nth-child(3),
.header-nav li:last-child {
	text-align: right;
	padding-top: 17px;
}
.header-nav li:nth-child(2) {
	margin-left: -20px;
}
.header-nav li:nth-child(3) {
	margin-right: -19px;
}
.header-nav li:nth-child(4) {
	margin-right: 6%;
	margin-left: 0;
}

.header-nav a {
	font-height: 26px;
	font-weight: 700;

	color: #000000;
}

.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active {
	color: #cacaca;
}

.header-nav .site-navigation-active {
	color: #766357;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

/*----------------------
MAIN MENU
_______________________*/

.container {
	/*background-color: green;*/
	padding: 0;
}

/*Картинка и приветствие*/

.greetings {
	margin-bottom: 50px;
}

.greetings .welcometosedona {
	width: 100%;
	height: 555px;
	
	margin-bottom: 15px;

	background-color: #81b3d2;

	background-image: url("../img/welcometosedona.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center 25%;
}

.greetings p {
	line-height: 26px;
}

.greetings .text-header {
	font-weight: 700;
	color: #000000;
	font-size: 21px;
	margin: 0 auto;
	max-width: 470px;
	text-align: center;
	margin-bottom: 25px;
}

.greetings .sub-header {
	margin-left: auto;
	margin-right: auto;
	max-width: 530px;
	text-align: center;
}

/* Основное содержание*/


.main-info {
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.main-info h3{ 
 	font-weight: 700;
	font-size: 21px;
	color: #000000;
}

/* 1 - Tips*/

.main-info > li:first-child {
	flex-basis: 330px;
}

.tips {
	/*background: green;*/
display: flex;
justify-content: flex-start;

box-sizing: border-box;
padding: 0;
}

 .tips li {
	flex-basis: 33%;
	margin-left: 3px;

	background-repeat: no-repeat;
	background-position: 51% 30%;
	background-size: 74px 74px;
	text-align: center;

	background-color: #ffffff;
	color: #000000;
}

 .tips h3 {
	margin-top: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.tips li:first-of-type {
	background-image: url("../img/icon-1.svg");
	}

.tips li:nth-of-type(2) {
	background-image: url("../img/icon-3.svg");
	}

.tips li:nth-of-type(3) {
	background-image: url("../img/icon-2.svg");
}

.tips li p {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 48px;
	padding-right: 50px;
}

/*other*/

.main-info > li:nth-child(2),
.main-info > li:nth-child(3) {
	background-color: #81b3d2;
	color: #ffffff;
	flex-basis: 257px;
}

.main-info > li:nth-child(2) h3,
.main-info > li:nth-child(3) h3 {
	color: #ffffff	
}

.main-info > li:nth-child(2) {
	order: -1;
	
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main-info > li:nth-child(3) {
	flex-basis: 252px;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.main-info .advantage-text {
	flex-basis: 33.5%;
	
	box-sizing: border-box;
	padding: 0;	
	text-align: center;
	}

.main-info .advantage-text h3,
.main-info > li:last-child h3 {
	width: 155px;
	margin-top: 50px;
	margin-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
}
.main-info .advantage-text p,
.main-info > li:last-child p {
	margin-bottom: 20px;
	width: 305px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.main-info .img-box {
	flex-basis: 66.5%;

	margin: 0;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.main-info > li:nth-child(2) .img-box {
	background-image: url("../img/realtown.jpg");
}
.main-info > li:nth-child(3) .img-box {
	background-image: url("../img/devilsbridge.jpg");
}


.main-info > li:last-child {
flex-basis: 254px;

background-color: #eeeeee;

display: flex;
justify-content: space-around;

box-sizing: border-box;
padding: 0;
text-align: center;
}


/*Приглашение*/

.invitation {
	box-sizing: border-box;
	text-align: center;
	/*border: 1px solid black;*/
	padding-bottom: 0;
	line-height: 24px;
	flex-basis: 294px;
	
	position: relative;

	z-index: 2;
}

.invitation .interested {
	font-size:30px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
	margin-top: 55px;
	margin-bottom: 25px;
}

.invitation p:last-child {
	margin-top:46px; 
	margin-bottom: 0;
}

.big-button-brown {
	background-color: #766357;

	width: 568px;
	height: 86px;

	font-family: inherit;
	line-height: 26px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.big-button-brown:hover {
	background-color: #604e43;
}

.big-button-brown:active {
	background-color: #503e33;
	color: #928a85;
}

/*Карту сделать интерактивной*/
.map {
	width: 100%;
	height: 475px;
	background-color: #ffffff;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: 50%;
}

main iframe {
	width: 100%;
	height:475px;
	border: none;
}

/* ___________________
FOOTER
___________________*/

.page-footer {
	/*background-color: blue;*/
background-color: #ffffff;
flex-basis: 121px;
}
	
.footer-wrap {
	margin-left: 132px;
	margin-right: 100px;
	margin-top: 20px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	box-sizing: border-box;
	}

.invitation-link {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}
.footer-social {
	margin-left: 210px;

	display: flex;

	text-align: center;
		}

.footer-social li {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	margin-left: 3px;
	margin-right: 3px;
}

.footer-social li:hover {
	background-color: #669ec0;
}

.footer-social li:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.footer-social svg  {
	margin: 15px auto;
}

.footer-social path:active {
	fill: #88b6d1;
}

.copyright{
margin-left: auto;
}

.copyright .htmlac {
	position: relative;
}
.copyright .website {
	position: absolute;	
	left: 975px;
	top: 2690px;
}

.copyright svg {
	width: 115px;
	height: 41px;
}

.copyright svg path:hover {
	fill: #93bed8;
}

.copyright svg path:active {
	fill: #c9c8c8;
}


/*Модальное окно*/

.modal-form {
	width: 560px;

	position: absolute;	
	top:2168px;
	left: 50%;

	margin-left: -284px;
	box-sizing: border-box;

}

.modal-hide {
	animation: slidedown 0.7s;
	opacity: 0;
	}

@keyframes slidedown {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
		}	
		
	100% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
		opacity: 0;
		}
}




.modal-form .hotel-form-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font: inherit;
	font-family: inherit;
	padding-right: 45px;
	padding-left: 57px;
	padding-top: 37px;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

.modal-form .hotel-order-form {
	width: 568px;
	height: 395px;
	margin: auto;

	background-color: #ffffff;

	color: #000000;
	font-weight: 700;
	line-height: 26px;
}

.hotel-form-wrapper > p {
margin-bottom: 18px;	
}

.hotel-form-wrapper > p:first-child {
	margin-top: 18px;
	margin-bottom: 18px;
}
.hotel-form-wrapper > p:last-child {
	margin-top: 40px;
}

.hotel-form-wrapper > p:nth-child(4) {
	margin-left: 63px;
}

.hotel-form-wrapper label {
	margin-right: 15px;
	font-size: 14px;
	line-height: 26px;
}

.hotel-form-wrapper > p:nth-child(3) label {
	margin-right: 28px;
}
.hotel-form-wrapper > p:nth-child(4) label {
	margin-right: 15px;

}
.hotel-form-wrapper input {
	font-size:14px;
	font-weight: 700;
	color: #000000;
	line-height: 26px;
	text-transform: uppercase;
	font-family: inherit;

	background-color: #f2f2f2;

	border: none;

	height: 36px;
	
	box-sizing: border-box;
	padding-left: 15px;

}

.hotel-order-form input:hover {
	background-color: #ebebeb;
}

.hotel-order-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.hotel-form-wrapper input[name="check-in-date"],
.hotel-form-wrapper input[name="check-out-date"] {
	width: 340px;
	padding-right: 20px;
}

.hotel-form-wrapper input[name="check-out-date"] {
	margin-left: -4px;
}

.calendar-1 {
	position: absolute;
	left: 472px;
	top: 62px
} 

.calendar-2 {
	position: absolute;
	left: 472px;
	top: 127px;
}

.calendar-1:hover path,
.calendar-2:hover path {
fill: #000000;
}

.calendar-1:active path,
.calendar-2:active path {
fill: #81b3d2;
}

input[name="grown-ups"],
input[name="kids"] {
	width: 37px;
	height:36px;

	padding-left: 0;

	text-align: center;
}

.number-button {
	display:inline-block;

	border:none;

	width: 37px;
	height: 36px;

	text-align: center;
	vertical-align: top;

	font-size:28px;
	font-weight: 700;
	color: #a9a9a9;
	line-height: 36px;

	background-color: #f2f2f2;
}

.number-button:hover {
color: #000000;
}

.number-button:active {
	color: #81b3d2;
}

.big-button-blue {
	background-color: #81b3d2;

	width: 458px;
	height: 58px;

	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.big-button-blue:hover {
	background-color: #669ec0;
}

.big-button-blue:active {
	background-color: #5496bd;
	color: #94b9d2;
}


/*--------------------------------
SECOND PAGE-----------------------
---------------------------------- */

.secondpagewrap {
	display: flex;
	flex-direction: column;
} 
/* Блок фильтра отелей */

.filter-forms {
	flex-basis: 200px;

	background-color: rgb(72, 79, 86);
	background-image: url("../img/background2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	color: #ffffff;

	box-sizing:border-box;
}

.filter-hotel-forms {
	display: flex;
	justify-content: space-between;
	
	max-width: 100%;

	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 22px;
}

.filter-forms-checkbox  {
	border: none;
	margin-top: 27px;
	margin-left: 40px;
	margin-right: 55px;

}

.filter-forms-checkbox p {
	margin-bottom: 25px;
	margin-left: 40px;
}

.filter-forms-checkbox p:last-child {
	margin-bottom: 20px;
}
.price-form {
	margin-top: 28px;
	margin-right: 75px;
	margin-left: auto;
	padding: 0;
}

.filter-name {
	display: block;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: left;
	
	font-size: 16px;
	font-weight: 700;
}

.price-box {
	position: relative;

	margin-bottom: 20px;

	height: 32px;
	width: 312px;

	border: 2px solid #ffffff;
	border-radius: 2px;

	font-size: 0;

	
}

.price-box label {
	display: inline-block;

	font-size: 14px;

 	line-height: 21px;
 	padding-top: 5px;


	

 	cursor: pointer;
}

.price-box .min-price,
.price-box .max-price {
	width: 90px;
	padding-left: 65px;
	
}

.price-box .max-price{
	padding-left:45px;
}

.price-box input {
	width: 50px;

	margin: 0;

 	color: inherit;
  	font: inherit;

  	background: none;
 	border: none;
}

.price-box::after {
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 2px;
  	height: 22px;

  
  	background: #ffffff;
  	transform: translate(-50%, -50%);
}

.range-controls {
	position: relative;

	width: 312px;
	height: 10px;

	border-top: 2px solid #ffffff;

	margin-bottom: 22px;
}

.range-controls .scale {
  	height: 2px;
  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;
  	background: #ffffff;
}

.range-toggle {
  	position: absolute;
  	top: -11px;
	width: 4px;

  	height: 4px;
  
  	background: #ababab;

  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	box-shadow: 0 2px 0 0 #646466;

  	cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  border: 10px solid #ffffff;
}

.filter-forms-checkbox label {
	display: block;

	position: relative;

	cursor: pointer;
	user-select: none;
}

.filter-input + label::before {
	position: absolute;
	content: "";
	left:-40px;
	top: -2px;

	width: 32px;
	height: 32px;
		
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-size: 75%;
}

.filter-input:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
	background-size: 90%;
}

.filter-input:checked:disabled + label::before {
	background-image: url("../img/checkbox-on-disabled.svg");
	background-size: 90%;
}

.filter-input:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
	background-size: 80%;
}

 .show-hotel-button {
	width: 140px;
	height: 35px;
	font: inherit;
	color: #ffffff;
	text-transform: uppercase;

	margin-left: 25%;
	margin-top: 0;

	background-color: transparent;
	
	border: 2px solid white;
}

.filter-hotel-forms .show-hotel-button:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: 400px;
}

/*Результаты поиска*/

.search-results {
	flex-basis: 90px;
}

.search-results-filter {
	display: flex;
	justify-content: flex-start;
}
.search-results-filter li {
	padding-top: 20px;
	padding-bottom: 15px;
	line-height: 18px;
	font-size: 12px;
}

.search-results-filter b,  
.hotel-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	font-family: inherit;
}

.search-results-filter li:first-child {
	margin-left: 29px;
	margin-top: -5px;
}
.search-results-filter li:last-child {
	margin-left: auto;
	margin-right: 75px;
}

.search-results-filter li:nth-child(2) {
	margin-left: 50px;
	color: #000000;
}
.search-results-filter li:nth-child(3),
.search-results-filter li:nth-child(4),
.search-results-filter li:nth-child(5) {
	margin-left: 40px;
}


.search-results-filter a {
	color: #cacaca;
	
}

.search-results-filter li:nth-child(4) a,
.search-results-filter li:nth-child(5) a {
	border-bottom: 1px dotted #81b3d2;
}

.search-results-filter a:hover {
	color: #81b3d2;
}

.search-results-filter a:active {
	color: #000000;
}

.search-results-filter .filter-active {
	color: #81b3d2;
	border: none;
}
.search-results-filter svg {
	display: inline-block;
	margin-left: 10px;
}


.search-results-filter svg path:hover {
	fill:#81b3d2;
}

.search-results-filter svg path:active {
	fill: #000000;
}

.search-results .triangle-active {
	fill:#81b3d2;
}

/*Список отелей*/

.hotel-list {
	display: flex;
	flex-direction: column;
}

.hotel-list h3:hover {
color: #81b3d2;
}

.hotel-list h3:active {
	color: #cacaca;
}

.hotel-list li {
	flex-basis: 150px;

	display: flex;

	border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-list li:first-child {
	border-top: 1px solid rgb(229, 229, 229);
}
.hotel-list li:last-child {
	margin-bottom: -12px;
}
.hotel-list li div:first-child {
	margin-top: 30px;
	margin-left: 30px;
}

.hotel-list li div:nth-child(2) {
	margin-left: 29px;
	margin-top: -5px;
}

.hotel-list li div:last-child {
	margin-left: auto;
	margin-right: 6%;
}

 .hotel-list h3 {
 	margin-bottom: 0;
 	margin-top: 30px;
 }

 .hotel-list .hotel-descr {
	margin-top: 7px;
	margin-bottom: 15px;
}

.hotel-list .hotel-descr span {
	display: inline-block;
	width: 112px;
	margin-right: 0;
}

.hotel-list .button-blue, 
.hotel-list .button-brown {
	display: inline-block;

	color: #ffffff;
	font-size: 14px;
	line-height: 21px;

	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.hotel-list .button-blue {
	background-color: #81b3d2;
}

.hotel-list .button-blue:hover {
	background-color: #669ec0;
}

.hotel-list .button-blue:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.hotel-list .button-brown {
	background-color: #766357;
	margin-left: 3px;
}

.hotel-list .button-brown:hover {
	background-color: #604e43;
	color:#ffffff;
}

.hotel-list .button-brown:active {
	background-color: #503e33;
	color: #928a85;
}

.hotel-list .stars {
	background-image: url("../img/star.svg");
	height: 18px;
	margin-top: 30px;
	margin-right: 0;
	margin-left: auto;
}

.hotel-list li:first-of-type .stars {
	width: 70px;
}

.hotel-list li:nth-of-type(2) .stars {
	width: 55px;
}

.hotel-list li:nth-of-type(3) .stars {
	width: 35px;
}

.hotel-list .rating {
	background-color: #f2f2f2;
	width: 95px;
	height: auto;

	/*width: 110px;
	height: 28px;*/

	margin-top: 47px;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	text-align: center;
	
	color: #666666;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


















