body {
	margin: 0;
	padding:0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

ul, 
ol {
	list-style: none;
}

.button {
	color: white;
	font-weight: 700;

	border: none;

	text-align: center;
	vertical-align: middle;
}

.main-header,
.container,
.tips {
	background-color: #ffffff;
}

.header-nav a {
	font-height: 26px;
	font-weight: 700;
	color: #000000;
}

.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active {
	color: #cacaca;
}

.header-nav .site-navigation-active {
	color: #766357;
}

.container {
	background-color: #ffffff;
}
.greetings p {
	line-height: 26px;
}

.greetings .text-header {
	font-weight: 700;
	color: #000000;
	font-size: 21px;
	}

.main-info h3{ 
 	font-weight: 700;
	font-size: 21px;
	color: #000000;
}

.main-info li:first-child li {
	background-color: #ffffff;
	color: #000000;
}
.main-info li:first-child li h3 {
	color: #000000;
}

.main-info li:nth-child(2),
.main-info li:nth-child(3) {
	background-color: #81b3d2;
	color: #ffffff;
}
.main-info li:nth-child(2) h3,
.main-info li:nth-child(3) h3 {
	color: #ffffff	
}

.main-info li:nth-child(4) {
	background-color: #eeeeee;
}

.img-box {
	width: 70%;
	max-height: 254px;
	overflow: hidden;
}

.interested {
	font-size:30px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}

.big-button-brown {
	background-color: #766357;
	width: 568px;
	height: 86px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.big-button-brown:hover {
	background-color: #604e43;
}

.big-button-brown:active {
	background-color: #503e33;
	color: #928a85;
}


.big-button-blue {
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.big-button-blue:hover {
	background-color: #669ec0;
}

.big-button-blue:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.hotel-order-form {
	width: 568px;
	height: 395px;
	margin: auto;

	background-color: #ffffff;

	color: #000000;
	font-weight: 700;
	line-height: 26px;
}

.hotel-order-form input {
	font-size:14px;
	font-weight: 700;
	color: #000000;
	line-height: 21px;

	background-color: #f2f2f2;

	border: none;
}

.hotel-order-form input:hover {
	background-color: #ebebeb;
}

.hotel-order-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}


/* ВТорая страница */

.filter-forms {
	background-color: rgb(72, 79, 86);
	background-image: url("../img/background2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	color: #ffffff;
}

.show-hotel-button {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid white;
}

.show-hotel-button:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: 400px;
}

.search-results-filter > b, 
.hotel-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.search-results-filter li:nth-child(2) {
	line-height: 18px;
	color: #000000;
}

.search-results-filter a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.search-results-filter a:hover {
	color: ##81b3d2;
}

.search-results-filter a:active {
	color: #000000;
}

.search-results-filter .filter-active {
	color: #81b3d2;
	border: none;
}

.search-results path:hover {
	fill:#81b3d2;
}

.search-results path:active {
	fill: #000000;
}

.search-results .triangle-active {
	fill:#81b3d2;
}

.filter-name {
	font-size: 16px;
	font-weight: 700;
}

.button-blue {
	display: inline-block;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.button-blue:hover {
	background-color: #669ec0;
}

.button-blue:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.button-brown {
	display: inline-block;
	background-color: #766357;
	
	font-size: 14px;
	line-height: 21px;
	padding-left: 18px;
	padding-right: 18px;
	margin-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.button-brown:hover {
	background-color: #604e43;
}

.button-brown:active {
	background-color: #503e33;
	color: #928a85;
}
.rating {
	background-color: #f2f2f2;
	color: #666666;
	width: 110px;
	height: 28px;
}

.hotel-list li {
	border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-list li:first-child {
	border-top: 1px solid rgb(229, 229, 229);
}

.hotel-list a:hover {
	color: #81b3d2;
}

.hotel-list a:active {
	color: #cacaca;
}


/*ФУТЕР*/

.page-footer {
	background-color: #ffffff;
}

.invitation-link {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}
.footer-social li {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}

.footer-social li:hover {
	background-color: #669ec0;
}

.footer-social li:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.footer-social svg  {
	margin: 15px auto;
}

.footer-social path:active {
	fill: #88b6d1 ;
}

.copyright p {
	margin-right: 5px;
}

.copyright svg {
	width: 115px;
	height: 41px;
}

.copyright svg path:hover {
	fill: #93bed8;
}

.copyright svg path:active {
	fill: #c9c8c8;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*
1) шрифт в формах
2) псевдоэлементы в формах
3) visually-hidden 

*/


/*СЕТКА*/

.main-wrap {
	min-width: 768px;
	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;

	background: transparent;

	display: flex;
	flex-direction: column;

	padding: 0;
}

.main-header {
	/*background: blue;*/
	padding: 0;
	margin-bottom: 0;
}

.header-nav ul {
	display: flex;
	/*background: brown;*/
	flex-direction: row;
	min-height: 55px;
	margin: 0 0;
	padding: 0 0;
	position: relative;
}

.header-nav li {
	flex-basis: 20%;
	margin-left: 6%;
}

.header-nav li:nth-child(1),
.header-nav li:nth-child(2) {
	text-align: left;
	padding-top: 15px;
	
}

.header-nav li:nth-child(3),
.header-nav li:last-child {
	text-align: right;
	padding-top: 15px;

}

.header-nav li:nth-child(4) {
	margin-right: 6%;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -75px;
}

.container {
	/*background-color: green;*/
	padding: 0;
}

.greetings {
	margin-bottom: 60px;
}
.greetings p {
	max-height: 620px;
	margin-bottom: 0;
}

.greetings .text-header {
	margin: 0 auto;
	max-width: 440px;
	text-align: center;
	margin-bottom: 30px;
}

.greetings .sub-header {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.main-info {
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.main-info > li:first-child {
	flex-basis: 333px;
}

.main-info > li:first-child .tips {
	/*background: green;*/
min-height: 333px;
display: flex;
justify-content: space-between;
padding: 0;
box-sizing: border-box;
}

.tips li {
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 70px 70px;
	text-align: center;
}
.tips li:first-of-type {
	background-image: url("../img/icon-1.svg");
	}

.tips li:nth-of-type(2) {
	background-image: url("../img/icon-3.svg");
	}

.tips li:nth-of-type(3) {
	background-image: url("../img/icon-2.svg");
}

.tips li h3 {
	margin-top: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}


.tips li p {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.main-info > li:nth-child(2) {
	order: -1;
	display: flex;
	justify-content: space-between;
	flex-basis: 254px;
	flex-direction: row;
	}

.main-info > li:nth-child(3) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-basis: 254px;
}

.advantage-list .advantage-text {
	flex-basis: 35%;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
			}

.advantage-list .advantage-text h3,
.main-info > li:last-child h3 {
	width: 200px;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.advantage-list .advantage-text p,
.main-info > li:last-child p {
	margin-bottom: 20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.advantage-list .img-box {
	flex-basis: 65%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

.main-info > li:last-child {
flex-basis: 254px;
display: flex;
justify-content: space-around;
padding: 0;
box-sizing: border-box;
text-align: center;

}

.invitation {
	text-align: center;
	/*border: 1px solid black;*/
	padding-bottom: 0;
	flex-basis: 294px;
	box-sizing: border-box;
	position: relative;
}

.invitation .interested {
	margin-top: 50px;
}

.invitation p:last-child {
	margin-top:50px;
	margin-bottom: 0;
}

.map {
	width: 100%;
	height: 475px;
	background-color: #ffffff;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: 50%;
}

.page-footer {
	/*background-color: blue;*/
	display: flex;
	justify-content: space-around;
}

.page-footer p,
.page-footer .footer-social,
.page-footer .copyright {
	flex-basis: 33%;
	text-align: center;
	
	/*border: 1px solid black;*/
}

.footer-social {
	flex-basis: 120px;
}

.footer-social li {
	display: inline-block;
	vertical-align: bottom;
}

.copyright span, 
.copyright p {
	display: inline-block;
	vertical-align: middle;
}

.copyright p {
	margin-left: 5px;
}



/*Модальное окно*/

.modal-form {
	position: absolute;
	width: 568px;
	top:2242px;
	left: 50%;
	margin-left: -284px;
}

.hotel-form-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 55px;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

/*.hotel-form-wrapper > p {
	border: 1px solid black;
}*/

.hotel-form-wrapper > p:last-child {
	margin-top: 55px;
}

.hotel-form-wrapper > p:nth-child(4) {
	margin-left: auto;
}

.hotel-form-wrapper label {
	margin-right: 15px;
	font-size: 14px;
	line-height: 26px;
}

.hotel-form-wrapper > p:nth-child(3) label {
	margin-right: 30px;
}

.hotel-form-wrapper input {
	height: 36px;
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	padding-left: 10px;
}

.hotel-form-wrapper input[name="check-in-date"],
.hotel-form-wrapper input[name="check-out-date"] {
	width: 335px;
}

.hotel-form-wrapper input[name="check-out-date"] {
	margin-left: -4px;
}
.calendar-1 {
	position: absolute;
	left: 475px;
	top: 75px
} 

.calendar-2 {
	position: absolute;
	left: 475px;
	top: 140px;
}

.calendar-1:hover path,
.calendar-2:hover path {
fill: #000000;
}

.calendar-1:active path,
.calendar-2:active path {
fill: #81b3d2;
}

input[name="grown-ups"],
input[name="kids"] {
	width: 37px;
	padding-left: 0;
	text-align: center;
}
.number-button {
	display:inline-block;
	border:none;
	width: 37px;
	height: 38px;
	text-align: center;
	font-size:28px;
	font-weight: 700;
	color: #a9a9a9;
	line-height: 36px;
	background-color: #f2f2f2;
	vertical-align: top;
}

.number-button:hover {
color: #000000;
}

.number-button:active {
	color: #81b3d2;
}





/* 2nd page */

.secondpagewrap {
	display: flex;
	flex-direction: column;
} 

.filter-forms {
	flex-basis: 220px;
}
.filter-hotel-forms {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 6%;
}
.filter-forms-checkbox {
	border: none;
	margin-top: 25px;
	}
.filter-forms-checkbox p {
	margin-bottom: 25px;
}
.price-form {
	margin-top: 25px;
	margin-right: 70px;
	margin-left: auto;
	padding: 0;
}
.filter-name {
	margin-top: 0;
	margin-bottom: 10px;
}
.price-box {
	width: 315px;
	height: 38px;
	border: 2px solid #ffffff;
}
.range {
	width: 315px;
	height: 10px;
	border-top: 2px solid #ffffff;
	margin-bottom: 0px;
}
.show-hotel-button {
	width: 150px;
	height: 35px;
	font: inherit;
	text-transform: uppercase;
	margin-left: 25%;
	margin-top: 0;
}

.search-results {
	flex-basis: 90px;
}

.search-results-filter {
	display: flex;
	justify-content: space-between;

}
.search-results-filter li:first-child {
	margin-left: 3%;
}
.search-results-filter li:last-child {
	margin-left: auto;
	margin-right: 3%;
}

.search-results-filter li:last-child {
	margin-left: 3%;
}

.search-results-filter li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.hotel-list {
	display: flex;
	flex-direction: column;
}

.hotel-list li {
	display:flex;
	flex-basis: 155px;
}

.hotel-list li div:first-child {
	margin-top: 30px;
	margin-left: 6%;
}

.hotel-list li div:nth-child(2) {
	margin-left: 3%;
}

.hotel-list li div:last-child {
	margin-left: auto;
	margin-right: 6%;
}
 .hotel-list h3 {
 	margin-bottom: 0;
 	margin-top: 30px;
 }
 .hotel-descr {
	margin-top: 7px;
	margin-bottom: 18px;
}

.hotel-descr span {
	display: inline-block;
	width: 112px;
	margin-right: 12px;
}

.stars {
	background-image: url("../img/star.svg");
	height: 18px;
	margin-top: 30px;
	margin-right: 0;
	margin-left: auto;
}

.hotel-list li:first-of-type .stars {
	width: 70px;
	}

.hotel-list li:nth-of-type(2) .stars {
	width: 55px;
}

.hotel-list li:nth-of-type(3) .stars {
	width: 35px;
}

.rating {
	margin-top: 50px;
	width: 95px;
	height: auto;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
















